<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <title>A list of base boxes for Vagrant - Vagrantbox.es</title>
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
  <script src="/assets/sorttable.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/assets/ZeroClipboard.min.js"></script>
  <script type='text/javascript' src='/assets/jquery.tipsy.js'></script>
  <link rel="stylesheet" href="/assets/css/tipsy.css" type="text/css">

  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-435455-15']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    ZeroClipboard.setDefaults({moviePath: 'assets/ZeroClipboard.swf'});

    $(document).ready(function() {
      $('td').each(function(i, e) {
        var content = $(e).html();
        if(content.indexOf('http') == 0) {
          var url = content;
          content = '<button class="zeroclipboard-button" data-clipboard-text="' + url + '" trigger-title="Done" title="Copy to clipboard">Copy</button> ' + url;
          $(e).html(content);
        }
      });

      var clip = new ZeroClipboard($('.zeroclipboard-button'));
      clip.on('load', function(client, args) {
        $(client.htmlBridge).tipsy();
      });

      clip.on('noflash wrongflash', function(client, args) {
        $('.zeroclipboard-button').hide();
      });

      clip.on('complete', function(client, args) {
        var b = $(client.htmlBridge);
        b.prop('title', $(this).attr('trigger-title'));
        b.tipsy('show');
      });

      $(window).resize(function() {
        clip.reposition();
      });
    });
  </script>
  <style>
   .zeroclipboard-button {
      text-align:center;
      background-color: #eeeeee;
      border: 1px solid gray;
    }

    .zeroclipboard-button.zeroclipboard-is-hover { background-color: #dddddd; }
    .zeroclipboard-button.zeroclipboard-is-active { background-color: #aaaaaa; }
  </style>
</head>

<body>
{{ content }}
</body>
</html>
